.body{
	margin-left: 0;
	background-color: black;
}
.H-section-1{
	width: 1000px;
	height: 160px;
	margin:auto;
	background-image:url("images/headerbg.jpg") ;
}
.H-section-1-left{
	width: 210px;
	height: 160px;
	float: left;
}
.H-section-1-center{
	width: 300px;
	height: 110px;
	float: left;
	margin-left: 100px;
	color: blue;
	text-align: center;
	padding-top: 50px;
}
.H-section-1-right{
	background-image: url("images/topcontactbg.png");
	width: 296px;
	height: 132px;
	float: right;
	padding-top: 0px;
	margin-top: 20px;
	font-size: 24px;
}
.font{
	font-weight: bold;
	font-size: 24px;
}
.color{
	color: white;
	font-weight: bold;
	font-size: 24px;
}
.H-section-2{
	width: 900px;
	height: 40px;
	background-image: url("images/menubg.jpg");
	margin:auto;
	padding: 10px 50px 0px 50px;
}
.H-section-2-item{
	width: 127px;
	height: 40px;
	background-image: url("images/menubackground.png");
	float: left;
	margin-left: 10px;
	text-align: center;
	line-height:38px;
}
.H-part-1{
	width: 1012px;
	height: 260px;
	margin-left: 141px;
}
.part-1{
	width: 200px;
	height: 40px;
	margin-left: 30px;
	margin-top: 10px;
	background-image: url("images/leftmenubg.png");
	text-align: center;

}


.part-2{
	width: 200px;
	height: 40px;
    margin-left: 30px;
	margin-top: 3px;
	background-image: url("images/leftmenubg.png");
	text-align: center;

}
.part-3{
	width: 200px;
	height: 40px;
	margin-left: 30px;
	margin-top: 3px;
	background-image: url("images/leftmenubg.png");
	text-align: center;

}
.part-4{
	width: 200px;
	height: 40px;
	margin-left: 30px;
	margin-top: 3px;
	background-image: url("images/leftmenubg.png");
	text-align: center;

}
.part-5{
	width: 200px;
	height: 40px;
	margin-left: 30px;
	margin-top: 3px;
	background-image: url("images/leftmenubg.png");
	text-align: center;

}
.part-6{
	width: 200px;
	height: 40px;
	margin-left: 30px;
	margin-top: 3px;
	background-image: url("images/leftmenubg.png");
	text-align: center;
}
.H-section-3{
	width: 1000px;
	height: 300px;
	margin: auto;
	
}
.H-section-3-left{
	width: 240px;
	height: 290px;
/*	border: 1px solid red;*/
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	text-align: center;
}
.H-section-3-right{
	width: 750px;
	height: 239px;
	float: left;
	padding-top: 20px;
/*	background:red;*/
}
.H-section-3-items{
	width: 213px;
	height: 40px;
	line-height: 40px;
	margin-top: 2px;
	background-image: url("images/leftmenubg.png");
/*	margin-left: 20px;*/
/*	margin-top: 10px;*/
}
.H-section-4{
	width: 1000px;
	height: 200px;
	margin:auto;
}
.H-section-4-left{
	width: 213px;
	height: 189px;
	background-image: url("images/whybg.jpg");
	margin-left: 10px;
    font-size: 14px;
	color: white;
	border: 1px solid white;
	border-radius: 6px;
	float: left;
}
.H-section-4-right{
	width: 360px;
	height: 189px;
	border: 1px solid white;
	float: left;
	margin-left: 20px;
}
.H-section-4-center{
	width: 350px;
	height: 189px;
	background-color:#fdc059;
	float: left;
	color: white;
	margin-top:2px ;
	margin-left: 25px;
}
.H-section-4-center .color{
 	color: black;
 	font-size: 14px;
 	margin-bottom:10px ;
}
.line-1{
	float: left;
}

.line-2{
	float: left;
	margin-left: 20px;
}
.line-3{
	float: left;
	margin-left: 0px;
}
.row-5{
	width: 1000px;
	height: 50px;
	background-image: url("images/footermenubg.jpg");
	margin:auto ;
	text-align: center;
	font-size: 14px;
	padding-top: 1px;
}

/*About Page*/
.section-1{
	width: 750px;
	height: 600px;
	float: left;
	padding-top: 20px;
	background-color: white;
	margin-top: 15px;
}
.About{
	font-weight: bold;
	font-size: 35px;
	text-align: left;
	padding-left: 5px;
}
.section-1 h4{
    font-size: 24px;
	font-weight: bold;
	padding: 0px 10px;
	text-align: left;
}
.section-1 p{
	font-size: 16px;
	text-align: left;
	padding: 0px 10px;
}
.img-1{
	width: 1000px;
	height: 50px;
	background-image: url("images/footermenubg.jpg");
	margin-top:345px ;
	text-align: center;
	font-size: 14px;
	margin-left: 165px;
}
.para{
	text-align: left;
}
.para-1{
	margin-left: 10px;
}

/*Courses page*/
.courses-part{
	width: 700px;
	height: 300px;
	background-color: white;
	float: left;
	margin-top: 15px;
}
.courses{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	
}
.align{
	text-align: left;
}
.section-3{
	width: 1000px;
    height: 50px;
    background-image: url("images/footermenubg.jpg");
    margin: auto;
    text-align: center;
    margin-top: 20px;
}




/*Gallery Page*/
.gallery-2{
	height: 630px;
}
.Gallery-section{
	width: 700px;
	height: 600px;
	float: left;
	background-color: white;
	margin-top: 15px;
}
.gallery{
	text-align: left;
	font-weight: bold;
	font-size: 30px;
}

.image1{
	float: left;

	margin-left: 10px;
	margin-top: 10px;
}
.image2{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.image3{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}


.image4{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.image5{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.image6{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}


.image7{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.image8{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.image9{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.row{
    margin-bottom:20px;
}




/*Enquiry Page Start*/
.Enquiry{
	width: 730px;
    background-color: white;
	float: left;
	margin-top: 15px;
}
.enq{
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	padding-left: 10px;
}
.myDiv{
	padding-left: 10px;
	margin-bottom: 10px;
}
.name{
	padding: 10px 10px;
	margin-bottom: 10px;
}

.namelablel{
	width: 100px;
	float: left;
	font-size: 16px;
	text-align: left;
	padding: 10px 10px;
}
.contact{
	padding: 10px 10px;
	margin-bottom: 10px;
}
.country{
	padding: 10px 10px;
    margin-bottom: 10px;
	
}
.state{
	padding: 10px 10px;
	margin-bottom: 10px;
}
.city{
	padding: 10px 10px;
	margin-bottom: 10px;
}
.address-2{
	padding: 10px 10px;
	margin-bottom: 10px;
	height: 50px;
	float: left;
	padding: 10px 10px;
}
.namelablel-1{
	width: 100px;
	float: left;
	font-size: 16px;
	text-align: left;
	padding: 10px 10px;
}
.address{
	margin-bottom: 10px;

}
.button{
	background: blue;
	color: white;
	border: none;
	margin-left: 30px;
	border-radius: 10px;
}




/*Contact Us Page*/
.con{
	width: 700px;
	height: 500px;
	background-color: white;
	float: left;
	margin-top: 15px;
}
.head{
	text-align: left;
	font-size: 40px;
	font-weight: bold;
}
.siddhi{
	width: 300px;
	height: 200px;
	margin-left: 20px;
	margin-top: 10px;
	
}
.type-1-left{
	float: left;
    font-weight: bold;
    
   
}
.type-1-left{
	float: left;
}
.last-row{
	width: 700px;
	height: 50px;
	background-image: url("images/footermenubg.jpg");
	margin: auto;
	padding-left: 350px;

}
.contactus_sec-3{
	height: 500px;
}